*{
    margin: 0;
    padding: 0;
}
.main{
    background: url(back.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.navbar{
    height: 55px;
    background-color: rgba(201, 18, 18, 0.808);

}
.icon{
    width: 200px;
    
}
.logo{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}
ul{
    float: right;
    display: flex;
    justify-items: center;
    align-items: center;

}
ul li{
    margin: 15px;
    margin-left: 66px;
}
ul li:hover{
    color: white;
}
.search{
    display: flex;
    justify-items: center;
    align-items: center;
}
.content{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 120px;
    font-size: 34px;
}
.content:hover{
    color: rgba(201, 18, 18, 0.808);
}
.search{
    justify-content: center;
    align-items: center;
    height: 220px;
}

.txt{
    width: 320px;
    height: 34px;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    background-color: rgba(201, 18, 18, 0.808);
    border: 2px solid black;
    border-radius: 30px;
    
}
.txt:hover{
    color: white;
    width:333px;
    height: 40px;
    background-color:rgb(114, 76, 76);
}
.copy{
    height: 42px;
    background-color: darkred;
    color: ghostwhite;
    text-align: center;
    padding-top: 15px;
    font-size: medium;
    font-family: Arial;
    font-weight: bold;
}
.butn{
    padding-left: 23px;
   border-radius: 30px;
} 
button{
    height: 22px;
    width:54px ;
    border-radius: 20px;
    font-family: Arial;
    border: 2px solid black;
    background-color: brown;
}
button:hover{
    color: white;
    height: 35px;
}
.container{
display: flex;
justify-content: center;
color: white;

}
.container ul li{

font-size: 33px;
padding: 35px;
color: white;

}
.container li:hover{
    font-size: 45px;

    color:rgba(201, 18, 18, 0.808); ;
}


